@page
@using RagnaRock___Eksamens_Projekt.Models
@model DetaljeVisningModel
@{
    ViewData["Title"] = "DetaljeVisning";
}


@if (Model.Exhibition != null)
{

    <audio id="myAudio">
        <source src="/soundfiles/@Model.Exhibition.Soundfiles" type="audio/mp3" />
    </audio>
   
        <section class="col-md-6 col-lg-4">
            <article class="card my-3">
                <article class="card-body">
                    <div class="d-flex">
                        <h3 class="card-title p-3"><a href="@Url.Action("Detail", "Exhibition")" class="text-secondary">@Model.Exhibition.Name</a></h3>
                    <button onclick="playAudio()" type="button" class="rounded-circle">Afspil Lydfil</button> <!-- You can add text or icon here -->
                    </div>
                    <p class="card-text">@Model.Exhibition.Description</p>
                    <img src="images/@Model.Exhibition.Images" class="card-image-top w-75" alt="thumbnail">
                </article>
            </article>
        </section>
    

        <script>
            
            var x = document.getElementById("myAudio"); 

            function playAudio() 
            {
                x.play();
            }
        </script>


}
else
{
    <p>No exhibitions found.</p>
}









