@page
@using RagnaRock___Eksamens_Projekt.Models
@model RatingsModel
@{
    ViewData["Title"] = "Se vores anmeldelser";
}



@if (Model.AllRatings != null)
{


<h2>Giv os en anmeldelse!</h2>

<form method="post">
    <div>
        <label for="Ratings">Bedømmelse (1-5):</label>
        <input type="number" id="Ratings" name="ratings" min="1" max="5" required />
    </div>

    <div>
        <label for="Comment">Kommentar:</label>
        <input type="text" id="Comment" name="comment"  required />
    </div>

    <div>
        <label for="Id"></label>
        <input type="hidden" id="Id" name="id" />
    </div>

    <div>

        <button type="submit" value="Save">Indsend bedømmelse</button>
    </div>
</form>


@* <form>
    <p>Ratings:</p>
    <input id="ratings" type="number" name="ratings" min="1" max="5" />
    <p>Comment:</p>
    <input id="comment" type="text" name="comment" />

    <button asp-page-handler="Add">
            asp-route-id="@Model.AllRatings.Id">
    <span class="material-symbols-outlined">Add</span>
    </button>

</form>

    <script src="path"></script>
    <script>
        $(document).ready(function () {
            $("form").submit(fanction() {
                string message = {
                    ratings: $("#ratings").val(),
                    comment: $("#comment").val(),
                    id: $("#id").val()
                }

                        $.ajax({
                    url: "/Ratings",
                    type: "POST",
                    dataType: "json",
                    contentType: "application/json; charset=utf-8",
                    data: JSON.stringify(message),
                    success: function () {
                        console.log("success")
                    },
                });




            })
        });



    </script> *@



@* @if (!string.IsNullOrEmpty(Model.AllRatings.Message))
{
    <div>
        <p>@Model.AllRatings.Message</p>
    </div>
} *@





@foreach (Rating item in Model.AllRatings)
{
    <sectionn class="col-md-6 col-lg-4">
        <article class="card my-3">

            <article class="card-body text-black">
                    <h3 class="card-title">Rating: @item.Ratings</h3>
                    <p>@item.Comment</p>
            </article>

        </article>
    </sectionn>
    }





}
else
{
    <p>Ingen anmeleldser fundet...</p>
}



